body {
  /* font-family: 'Kaushan Script', cursive; */
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 0;
}
*,
*::after *::before {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  padding-top: 10px;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
nav {
  text-transform: uppercase;
  font-size: 14px;
}
.nav_link {
  text-decoration: none !important;
  color: white;
  transition: color 0.2s linear, border-bottom 0.2s linear;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
}

.nav_link:hover {
  color: #521a00;
  border-bottom: 3px solid #521a00;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  SLIDER  */

.slider-block {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.slider-heading h1 {
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}
.slider-heading h2 {
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}
.slider-heading hr {
  width: 50%;
  border-top: white 3px solid;
}
.slider-heading button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 25px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.slider-heading button:hover {
  background-color: white;
  color: #521a00;
}
.slide1 {
  background: linear-gradient(
      to bottom,
      rgba(255, 113, 30, 0.877),
      rgba(148, 0, 0, 0.658)
    ),
    url("images/slide1.jpg") center no-repeat;
  background-size: cover;
}
.slide3 {
  background: linear-gradient(
      to bottom,
      rgba(255, 113, 30, 0.877),
      rgba(148, 0, 0, 0)
    ),
    url("images/slide3.jpg") center no-repeat;
  background-size: cover;
}
.slide2 {
  background: linear-gradient(
      to bottom,
      rgba(255, 113, 30, 0.877),
      rgba(148, 0, 0, 0)
    ),
    url("images/slide2.jpg") center no-repeat;
  background-size: cover;
}
.sliderContainer {
  position: relative;
}

.slick-dots {
  bottom: -30px;
}

.progressBarContainer {
  position: absolute;
  bottom: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.progressBarContainer .slider-page {
  display: block;
  width: 30%;
  padding: 0;
  cursor: pointer;
  margin-right: 5%;
  float: left;
  color: white;
}

.progressBarContainer .slider-page:last-child {
  margin-right: 0;
}

.progressBarContainer .slider-page span.progressBar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
}

.progressBarContainer .slider-page span.progressBar .inProgress {
  background-color: rgba(255, 255, 255, 1);
  width: 0%;
  height: 4px;
}

.progressBarContainer h5 {
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
}

/* About */

.about {
  padding: 100px 0px;
}
.about h5,
.service h5,
.design h5,
.expanded-service h5,
.team h5,
.dishes h5 {
  font-family: "Kaushan Script", cursive;
}

.about hr,
.service hr,
.design hr,
.expanded-service hr,
.team hr,
.dishes hr{
  background: rgba(148, 0, 0, 0.658);
  height: 3px;
  width: 50px;
}
.about .gallery {
  margin-top: 25px;
}
.about .gallery img {
  width: 350px;
  height: auto;
  object-fit: cover;
  transition: opacity 0.1s linear;
}
.about .gallery img:hover {
  opacity: 0.25;
}

.about .about-img {
  background: linear-gradient(to bottom, #e25909, #fcc500);
  transition: transform 0.1s linear;
}
.about .about-img:hover {
  transform: translate3d(-10px, -10px, 0);
}
.about-item {
  margin: 25px;
  background-color: rgba(241, 123, 54, 0.877);
  position: relative;
}
.about-item:hover .about-text {
  opacity: 1;
}

.about-text {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  text-align: center;
  transform: translate3d(0, -50%, 0);
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s linear;
}

/* Statistic */
.statistic div {
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}
.statistic div h5 {
  text-transform: uppercase;
  font-size: 15px;
}
.statistic div h1 {
  font-size: 50px;
}
.statistic {
  padding: 75px;
  color: white;
  margin-bottom: 50px;

  background: linear-gradient(to bottom, #e25909, #fcc500);
}
.statistic .row {
  margin: 0 !important;
}
@media screen and (max-width: 845px) {
  .statistic div {
    flex: 0 0 50%;
    max-width: 100%;
  }
}

/* Services */

.service-list i {
  font-size: 50px;
  color: #e25909;
  padding-right: 25px;
}

.service-list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.service-item {
  margin: 25px auto;
}

/* Design */
.design {
  margin: 50px 0 80px;
  padding: 50px 0 0;
  background: url(images/design.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.design .tablet {
  width: 50%;
  height: auto;
  margin-top: 35px;
}
.design .phone {
  width: 15%;
  position: absolute;
  bottom: -60px;
  right: 30%;
  left: 55%;
  box-shadow: 0px 10px 8px -10px #111;
  border-radius: 35px;
}
@media screen and (max-width: 845px) {
  .design .tablet {
    width: 70%;
  }
  .design .phone {
    width: 22%;
    border-radius: 22px;
  }
}

/* Expanded-service */
.expanded-service {
  margin: 120px 0 60px;
}
.services {
  margin: 30px;
}
.services img {
  width: 50%;
  height: auto;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

/* Accordion */
.main-flx {
  width: 100%;
}
details summary::-webkit-details-marker {
  display: flex;
  position: absolute;
  top: 20px;
  left: 90%;
  right: 10%;
  font-size: 30px;
  color: black;
}

summary {
  outline: none;
  color: #1a205c;
  padding-left: 10px;
  box-shadow: 0 0 2px rgb(240, 131, 7);
  position: relative;
  border: 1px solid rgba(241, 123, 54, 0.877);
}

.main-card {
  padding: 10px;
  border: 1px solid rgb(240, 131, 7);
  box-shadow: 0 0 2px rgb(240, 131, 7);
}
.title {
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
}

.title i {
  font-size: 30px;
  color: rgb(240, 131, 7);
  padding: 15px;
}

@media only screen and (max-width: 950px) {
  .services {
    flex-direction: column;
  }
  .services img {
    width: 80%;
    margin: auto;
  }
  .main-flx {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 650px) {
  .main-flx {
    width: 100%;
    display: block !important;
  }
  .title h3 {
    font-size: 20px;
  }
}

/* Team */
.team img {
  width: 300px;
  object-fit: cover;
  height: 450px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0 40px;
}
@media only screen and (max-width: 767px) {
  .team img {
    height: 375px;
  }
}

/* Brands */
.brands img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px 0;
}
.brands {
  padding: 50px;
  background-color: whitesmoke;
  margin-bottom: 100px;
  justify-content: center;
  flex: 1 1 0;
}
